<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title></title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Libre+Baskerville:wght@700&family=Raleway:ital,wght@1,500&display=swap" rel="stylesheet" />
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js">
    </script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <div id=#Root></div>
</body>
<script src='./javascript/RootPanel.js' type='module'></script>
</html>